<p>
  <strong style="color:white">Commenter:</strong>
  <span class="text-warning"><%= comment.commenter %></span>
</p>

<p>
  <strong style="color:white">Comment:</strong>
   <span class="text-warning"><%= comment.bodytext %></span>
</p>
